@bg-color: grey; // grey color
@font-color : black; // default color

a {
  text-decoration: none;
  color: black;
}

.header-style {
  height: 15vh;
  background-color: @bg-color;
  text-align: center;
  margin: 0px;
}

header {
  .header-style;

  h1 {
    margin: 0px;
  }
}

.menu {
    counter-reset: item;
    position: relative;
    .button {
      display: inline-block;
      background-color: red;
      text-align: right;
      width: 120px;
      transform-origin: 0 10px;
      transform: rotate(0deg);
      transition: transform 1s;
    }

    .item {
      display: inline-block;
      width: 120px;
      left: -720px;
      position: relative;
      transition-timing-function: ease-out;
      transition: left 2s;
    }

    .o {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: -150px;
      transition: left 1s,top 1s;
    }
}

.menu.open {
      .button{
        transform-origin: 0 10px;
        transform: rotate(-15deg);
        transition: transform 1s;
      }


      .item {
        left: 40px;
        transition-timing-function: ease-out;
        transition: left 2s;
      }

      .o {
        display: inline-block;
        position: absolute;
        top: -35px;
        left: 115px;
        transition: left 1s,top 1s;
      }
}
