<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include 'header.twig.html' with {'mainTitle' : 'Walsh Institute'} %}
  </body>
</html>
