
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <link rel="stylesheet/less" type="text/css" media="screen" href="login.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.7.1/less.min.js"></script>
  </head>
  <body>
    <main>

      <section class="login">
        <a href="index.php">Homepage</a>
      </section>

      <div class="container">
        <form class="login-page" action="{{ phpPage }}" method="POST">
            <h2>{{ nameLogin }} Login</h2>
            <label for="userame"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>

            <button type="submit" name="login">Login</button>
            <a class="signup-link" href="{{ signupPage }}">Sign Up</a>
          </form>
      </div>

    </main>

  </body>
</html>
