<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% include 'login.twig.html' with {'pageTitle': 'Patient-Login', 'phpPage': 'login.inc.php', 'nameLogin': 'Patient', 'signupPage': 'patient-signup.php'} %}
  </body>
</html>
