<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Walsh Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
  </head>
  <body>
    <div class="container">

      {% include 'header.twig.html' with {'mainTitle': 'Walsh Institute', 'subTitle' : '"A Transforming, Healing Presence"'} %}

      <main class="contact">
        <h1>{{ mainTopic }}</h1>

        <section class="myinfo">
          <h2>Owner Info</h2>
          <p><strong>Dr. Malcolm Walsh</strong></p>

          <p>E-Mail Address : </p>
          <a class="fbk" href="mailto:malcolmwalsh@gmail.com">malcolmwalsh@gmail.com</a>
          <p>Phone : 1234567890</p>


          <div class="address">
            <p id="p1">Home Address</p>
            <p>H.NO 123, ABCD</p>
            <p>XYZ STREET</p>
            <p>ASDF</p>

          </div>
        </section>
        <section class="forms">
          <h2>Your Details :</h2>
          <form class="contact-form" action="http://webdevbasics.net/scripts/demo.php" method="post">

            <fieldset class="pinfo">
              <legend>Personal Information</legend>
              <label for="asd">First Name :
                <input id="asd" type="text" name="First Name"><br><br>
              </label>
              <label for="xyz">Last Name :
                <input id="xyz" type="text" name="Last Name"><br><br>
              </label>
              <label for="abc">
                Enter Your E-Mail Here :
                <input id="abc" type="text" name="Sonu" value="">
              </label>
            </fieldset>

            <fieldset class="oinfo">
              <legend>Other Information</legend>
              <p>Where did you hear about this website? Choose that apply :</p>

              <label>
              <input type="radio" name="source" value="Facebook">Facebook <br>
              </label>

              <label>
              <input type="radio" name="source" value="Instagram">Instagram <br>
              </label>

              <label>
              <input type="radio" name="source" value="Friends">Friends <br>
              </label>

              <label>
              <input type="radio" name="source" value="Other Source">Other Source <br>
              </label>

              <label><br>Enter your Comments Here :
                <br> <textarea name="Comments" rows="8" cols="80"></textarea>
              </label>
            </fieldset>


              <br>
            <input type="submit" name="Submit">
          </form>

        </section>
      </main>
    </div>

    {% include 'footer.twig.html' with {'footerText' : 'Copyright (c) 2018 Copyright Holder All Rights Reserved.'} %}

  </body>
</html>
