<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Walsh Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
  </head>
  <body>
    <div class="container">

      {% include 'header.twig.html' with {'mainTitle': 'Walsh Institute', 'subTitle' : '"A Transforming, Healing Presence"'} %}

      <main class="page">
        <h1>{{ mainTopic }}</h1>
        <section class="slide">

          <div class="contain">

            <div class="move">
              <img src="doctor1.jpeg" alt="Dr. Sourabh Sachdeva">
              <img src="doctor2.jpeg" alt="Dr. Prithvi Verma">
              <img src="doctor3.jpeg" alt="Dr. Gagandeep Singh">
              <img src="doctor4.jpeg" alt="Dr. Harpreet Sangha">
              <img src="doctor5.jpeg" alt="Dr. Narinder Singh">
            </div>

          </div>
          <span class="left"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </span>
          <span class="right"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </span>
        </section>

        <section class="team">
          <img src="doctor1.jpeg" alt="Doctor Image">
          <ul>
            <li>Name: Sourabh Sachdeva</li>
            <li>Degree: M.D. Medicine</li>
            <li>Department: Medicine</li>
            <li>Phone: 77821345876</li>
          </ul>
        </section>

        <section class="team">
          <img src="doctor2.jpeg" alt="Doctor Image">
          <ul>
            <li>Name: Prithvi Verma</li>
            <li>Degree: M.S.</li>
            <li>Department: Oncology</li>
            <li>Phone: 7784567891</li>
          </ul>
        </section>
        <section class="team">
          <img src="doctor3.jpeg" alt="Doctor Image">
          <ul>
            <li>Name: Gagandeep Singh</li>
            <li>Degree: M.B.B.S.</li>
            <li>Department: E.N.T</li>
            <li>Phone: 7781234567</li>
          </ul>
        </section>
        <section class="team">
          <img src="doctor4.jpeg" alt="Doctor Image">
          <ul>
            <li>Name: Harpreet Singh</li>
            <li>Degree: M.B.B.S.</li>
            <li>Department: Oncology</li>
            <li>Phone: 7782345678</li>
          </ul>
        </section>
        <section class="team">
          <img src="doctor5.jpeg" alt="Doctor Image">
          <ul>
            <li>Name: Narinder Singh</li>
            <li>Degree: M.D.</li>
            <li>Department: Cardiology</li>
            <li>Phone: 7783456789</li>
          </ul>
        </section>
      </main>
    </div>

    {% include 'footer.twig.html' with {'footerText' : 'Copyright (c) 2018 Copyright Holder All Rights Reserved.'} %}

  </body>
</html>
