<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Walsh Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
  </head>
  <body>
    <div class="container">

      {% include 'header.twig.html' with {'mainTitle': 'Walsh Institute', 'subTitle' : '"A Transforming, Healing Presence"'} %}

      <main class="home-page">
        <h1>{{ mainTopic }}</h1>
        <img class="logo" src="Walsh-logo.png" alt="A placeholder image">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias eaque maiores, cupiditate adipisci alias doloremque quasi sint consectetur deleniti voluptates et vel necessitatibus quis fuga impedit quisquam modi quaerat dolor.</p>
      </main>
    </div>

    {% include 'footer.twig.html' with {'footerText' : 'Copyright (c) 2018 Copyright Holder All Rights Reserved.'} %}

  </body>
</html>
