<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Homepage - Walsh Institute</title>
  </head>
  <body>

    <div class="container">

      {% include 'header.twig.html' with {'mainTitle':'Walsh Institute', 'subTitle':'"A Transforming, Healing Presence"'} %}
      {% include 'main.twig.html' with {'mainTopic':'About Us'} %}
      {% include 'footer.twig.html' with {'footerText':'Copyright (c) 2018 Copyright Holder All Rights Reserved.'} %}
    </div>

  </body>
</html>
