<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}} - Walsh Institute</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet/less" type="text/css" media="screen" href="styles.less" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/3.0.2/less.min.js" ></script>
  </head>
  <body>
    <div class="container">

      {% include 'header.twig.html' with {'mainTitle': 'Walsh Institute', 'subTitle' : '"A Transforming, Healing Presence"'} %}

      <main class="page">
        <h1>{{ mainTopic }}</h1>
        <h2>Overview</h2>
        <p>Face transplant is a treatment option for some people with severe facial disfigurement. A face transplant replaces all or part of a person's face with donor tissue from someone who has died.</p>
        <p>It is a complex operation that takes months of planning and multiple surgical teams.</p>
        <p>A face transplant may enhance your life, but it is a high-risk procedure. You and your transplant team can't predict exactly how you will look and how your immune system will respond to the new face. You will need to take special medications (immunosuppressants) for the rest of your life to reduce the risk of your body rejecting the transplanted face.</p>

        <h2>How to Prepare</h2>
        <p>Before you undergo the procedure, you must ask yourself some questions to yourself. Have you weighed the risks of face transplant? Can you be fully committed to intense, lifelong follow-up care? What benefits do you hope to gain from this surgery?</p>
        <p><span><strong>Before the procedure, you will be evaluated by a transplant team. All the patients must:</strong></span></p>

        <ul>
          <li>Have severe facial disfigurement</li>
          <li>Have a loss of facial function, such as chewing or talking</li>
          <li>Undergo a comprehensive exam that may include X-rays, CT and MRI scans, blood tests, and other measures of physical health</li>
          <li>Have no history of chronic nerve conditions</li>
          <li>Not be pregnant</li>
          <li>Have no serious medical problems, such as diabetes, heart disease or untreated cancer</li>
          <li>Complete a financial evaluation of post-transplant care expenses with a member of the transplant team</li>
        </ul>

        <h2>Getting Ready for the procedure</h2>
        <p>If you are approved by the face transplant team, you'll be placed on a waiting list for a donor face. When matching you with a donor face for a transplant, doctors consider the following :</p>
        <ul>
          <li>Blood type</li>
          <li>Tissue type</li>
          <li>Skin color</li>
          <li>Comparable ages of donor and recipient</li>
          <li>Compatible facial size of donor and recipient</li>
        </ul>

        <h2>Result</h2>
        <p>You and your transplant team can't know for sure what the results of your surgery will be. Each previous face transplant recipient has had different experiences with the post-surgical appearance and function. Most experienced improved ability to smell, eat, drink, talk, smile and make other facial expressions. Some regained the ability to feel a light touch on the face. Because this surgical technique is still fairly new, the long-term results for face transplant recipients are yet to be determined.</p>
      </main>
    </div>

    {% include 'footer.twig.html' with {'footerText' : 'Copyright (c) 2018 Copyright Holder All Rights Reserved.'} %}

  </body>
</html>
