@header-image: "hospital.jpg"; //header image
@theme-color: #cc0000; //red
@heading-color: @theme-color;
@font-color: ;
@link-color: white;
@link-active-color: cornflowerblue;
@bg-color: papayawhip;
@link-hover-color: #990000; //dark red

.header-properties(@image) {
  background-image: url(@image);
  background-size: 100vw 100vh;
  filter: grayscale(100%);
  // filter: blur(8px);
  background-repeat: no-repeat;
  // background-size: 100% 100%;
}

body {
  margin: 0;
  background-image: url("hospital.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  // .header-properties(@header-image);
}

main {
  padding: 2%;
  background-color: white;
  width: 60%;
  margin: auto;
  border-radius: 25px;
  position: absolute;
  top: 25%;
  // bottom: 25%;
  left: 20%;
  right: 20%;

  h2 {
    color: @heading-color;
    margin: 0 0 2% 0;
    font-size: 22pt;
  }
  button {
      background-color: @theme-color;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      font-size: 12pt;
  }

  button:hover {
    background-color: @link-hover-color;
      opacity: 0.8;
  }

  label {
    font-size: 16pt;
    color: @link-hover-color;
  }

  input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}
