@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Dancing+Script:400,700|Pacifico|Permanent+Marker');

body {
  margin: 0;
  background-color: papayawhip;
}

header {
  background-image: url("index.png");
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#name {
  margin: 0;
  text-align: center;
  color: #000066;
  font-family: 'Dancing Script', cursive;
  padding-top: 5%;
  font-size: 50px;
}

.navi a {
  color: papayawhip;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  font-size: 20px;
}

.navi a:hover {
  color: white;
  font-size: 25px;
}

.navi a:visited {
  color: papayawhip;
}

.navigation li:hover {
  background-color: #00004c;
}

.navigation {
  margin: 0;
  padding: 0;
  background-color: #000066;
  list-style-type: none;
  box-sizing: border-box;
  box-shadow: 5px 10px 28px #888888;
}

.navigation li {
  float: left;
  width: 25%;
  padding: 1%;
  text-align: center;
  box-sizing: border-box;
}

.navigation::after {
  content: "";
  display: block;
  clear: both;
}

main {
  margin: 2%;
  background-color: white;
  border-radius: 10px;
}

main img {
  padding: 2%;
  width: 18%;
  border-radius: 50px;
}

 main section {
   margin: 2% 2% 2% 0;
   width: 76%;
   float: right;
  box-sizing: border-box;
}

main #myself h1 {
  margin: 0;
}

h1,h2,h3,h4,h5,h6 {
  color: #000066;
}
main h1 {
  font-family: 'Permanent Marker', cursive;
  color: #000066;
  font-size: 35px;
}

main section p,.exp p,.edu,.skill,.award {
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  font-weight: 500;
}

.basic h2 {
  margin: 1% 1% 0 1%;
  border-bottom: 1px solid #000066;
}

.basic p {
  padding: 1%;
}

footer {
  background-color: #000066;
}

footer p {
  color: papayawhip;
  margin: 0;
  padding: 1%;
  font-size: 15px;
}

main::after {
  content: "";
  display: block;
  clear: both;
}

h1 {
  padding-left: 1%;
}
