@import url('https://fonts.googleapis.com/css?family=Pacifico|Satisfy');

body {
  background-color:   #f2cb98 ;
}

main {
  background-color: papayawhip;
  width: 90%;
  margin: auto;
  padding: 2%;
  border-radius: 15px;
}

h1 {
  font-size: 45px;
  font-family: 'Pacifico', cursive;
  color:  #d33b3b;
}

h2 {
  font-size: 30px;
  font-family: 'Satisfy', cursive;
  color:  #d33b3b;
}

img {
  width: 100%;
  border-radius: 15px;
}

p {
  font-size: 20px;
}

table {
  border: 1px;
}
table th{
  font-size: 25px;
}

table td {
  font-size: 20px;
}

li {
  list-style-type: none;
  font-size: 25px;
}

li a {
  color: black;
  text-decoration: none;
}

strong {
  color: #d33b3b;
}

#click {
  padding: 5px;
  text-decoration: none;
  font-size: 25px;
  background-color: #d33b3b;
  color: papayawhip;
}

#choices li{
  list-style-type: square;
}
