@header-image: "face-blur.jpg"; //header image
@theme-color: #cc0000; //red
@link-color: white;
@link-active-color: cornflowerblue;
@bg-color: papayawhip;
@sub-theme-color: #990000; //dark red
@heading-size: 35pt;
@subheading-size: 30pt;
@link-size: 20pt;
@font-size: 15pt;
.header-properties(@image) {
  background-image: url(@image);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-color (@color){
  background-color: @color;
}

.link-style(@size) {
  .background-color(@theme-color);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: @link-color;
  font-size: @size;
}

body {
  .background-color(@bg-color);
  margin: 0;
}

main {
  .background-color(@link-color);

  h1 {
    color: @theme-color;
  }
}

// For wide sreens
@media screen and (min-width: 480px) {

  header {
    .header-properties(@header-image);

    h1,h3 {
      position: relative;
      margin: 0;
    }

    h1 {
      //background-color: rgba(0,0,0, 0.4);
      color: white;
      font-size: @heading-size;
      left: 26%;
    }

    h3 {
      //background-color: rgba(0,0,0, 0.4);
      color: white;
      font-size: @subheading-size;
      left: 5%;
    }

    .heading {
      border: 5px solid white;
      padding: 2%;
      width: 50%;
      position: relative;
      top: 14%;
      left: 23%;
      background-color: rgba(0,0,0, 0.4);
    }
  }

  nav {
    display: grid;
    grid-template-columns: auto auto auto auto;

    a {
      .link-style(@link-size);
      border: 1px solid black;

    }

    a:visited {
      color: @link-color;
    }

    a:hover {
      .background-color(@sub-theme-color);
    }

    a:active {
      color: @link-active-color;
    }
  }

  .login {
    position: absolute;
    top: 4%;
    right: 1%;

    a {
      border: 2px solid white;
      .link-style(@link-size - 8pt);
      background-color: rgba(0,0,0, 0.4);
      padding: 15px;
    }
  }

  .home-page{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-areas: 'head head head'
                         'image paragraph paragraph';

    h1 {
      font-size: @heading-size;
      margin-left: 4%;
      grid-area: head;
    }

    img {
      box-sizing: border-box;
      border: 2px solid @theme-color;
      margin-left: 5%;
      grid-area: image;
    }

    p {
      font-size: @font-size;
      text-align: justify;
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      grid-area: paragraph;
    }
  }

  footer {
    background-color: @theme-color;
    color: white;
  }

  .contact {
    display: grid;
    grid-template-areas: 'head head'
                         'info contact';

    h1 {
      margin-left: 2%;
      color: @theme-color;
      grid-area: head;
    }

    h2 {
      color: @theme-color;
    }
    .myinfo {
      border: 2px solid @theme-color;
      margin-left: 10%;
      padding-left: 2%;
      grid-area: info;
      width: 60%;
      margin-bottom: 10%;
    }

    .forms {
      padding: 1%;
      margin-right: 10%;
      border: 2px solid @theme-color;
      grid-area: contact;
      margin-bottom: 10%;
    }
  }
}
