@main-heading-size: 50pt;
@theme-color: #002080; // Dark-blue
@font-size: 20pt;
@sub-heading-size: 28pt;
@font-color: #3366ff; // Light-blue
@white-color : #ffffff;
@heading-font: ;
@text-font: ;


.main-heading-style(@size, @color) {
  margin: 0px;
  font-size: @size;
  color: @color;
  text-align: center;
  //padding: 2%;
}

body {
  margin: 0;
}

header {
  background-image: linear-gradient(to bottom right,@theme-color,@font-color;);
  height: 10vh;

  h1 {
    .main-heading-style(@main-heading-size, @white-color);
  }
}

.container {

  display: grid;
  grid-template-areas: 'main-section main-section' 'none image-section';
  main {
    grid-area: main-section;
    display: grid;
    grid-template-columns: auto auto auto auto;
    text-align: center;

    .profile {
      #profileArea {
        box-sizing: border-box;
        border: 1px solid black;
        width: 250px;
        height: 350px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  #picture {
    grid-area: image-section;
    width: 384px;
    height: 217px;
    border: 1px solid black;
    box-sizing: border-box;
    img {
      width: 100%;
    }
  }
}
