@header-image: "face-blur.jpg"; //header image
@theme-color: #cc0000; //red
@link-color: white;
@link-active-color: cornflowerblue;
@bg-color: papayawhip;
@sub-theme-color: #990000; //dark red
@link-hover-color: #990000; //dark red
@heading-size: 35pt;
@subheading-size: 30pt;
@link-size: 20pt;
@font-size: 15pt;

.header-properties(@image) {
  background-image: url(@image);
  height: 35vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.background-color (@color){
  background-color: @color;
}

.link-style(@size) {
  .background-color(@theme-color);
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: @link-color;
  font-size: @size;
}

.main-style(@size: @font-size) {
  .background-color(@link-color);

  ul {
    margin-left: 5%;
    font-size: @size;
  }

  p {
    font-size: @size;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
  }
}

.heading-style(@size, @color) {
  color: @color;
  font-size: @size;
}

body {
  .background-color(@bg-color);
  margin: 0;
}

// h1 {
//   font-size: @heading-size;
// }
//
// h2 {
//   font-size: @subheading-size;
// }
.page {
  width: 75%;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.team {
  border: 3px solid @theme-color;
  display: flex;
  margin-bottom: 2%;
  ul {
    list-style-type: none;
    font-size: @font-size;
  }
}

// For Mobile Phones and small devices

  body,.container {
    width: 100%;
    text-align: center;
  }

  // h1,h2,h3 {
  //   text-align: center;
  // }

  header {
    background-color: @theme-color;
    margin: 0px;
    padding-bottom: 5%;

    h1 {
      margin: 0px;
      .heading-style(@heading-size - 10pt, @link-color);
    }

    h3 {
      margin: 0px;
      .heading-style(@subheading-size - 10pt, @link-color);
    }
  }

  main {
    .logo {
      width: 309px;
    }
    .main-style(@font-size - 2pt);
    h1 {
      .heading-style(@heading-size - 5pt, @theme-color);
    }
    h2 {
      .heading-style(@subheading-size - 5pt, @theme-color);
    }

    ul {
      text-align: left;
    }

    .team {
      margin-left: 5%;
      margin-right: 5%;

      img {
        width: 220px;
        height: 200px;
      }
    }

    .error {
      color: red;
    }
    .success {
      color: green;
    }
    .empty-field {
      box-shadow: 0 0 5px red;
    }
  }


  .page {
    width: 100%;
    margin: 0px;
  }

  .appointment-form {
    .form-container {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      padding: 5%;

      label {
        // padding: 5%;
        font-size: 16pt;
        color: @link-hover-color;
      }

      select {
        display: block;
        padding: 2%;
      }

      input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
    }
  }
  nav {
    display: grid;
    grid-template-columns: 'auto' 'auto' 'auto' 'auto';

    a {
      .link-style(@link-size);
      border: 1px solid black;

    }

    a:visited {
      color: @link-color;
    }

    a:hover {
      .background-color(@sub-theme-color);
    }

    a:active {
      color: @link-active-color;
    }
  }


    .slide
    {
      width: 80%;
      box-sizing: border-box;
      padding: 2%;
      margin: auto;
      border-radius: 5%;
      // background-color: papayawhip;


    .left,.right
    {
      cursor: pointer;
      position: relative;
      left: 47%;
      padding: 1%;
      border: 1px solid #880000;
      background-color: white;
    }

    .contain
    {
      overflow: hidden;
      display: block;
      margin: auto;
      width: 40%;

      .move
      {
        box-sizing: border-box;
        border: 2px solid #880000;
        width: 510%;
        position: relative;
        left: 0;
      }

      .move img
      {
        box-sizing: border-box;
        width: 19%;
        height: 200px;
        margin-right: 0.5%;
      }
    }
  }

  .login {
    margin-top: 5%;
    // text-align: center;
    a {
      border: 2px solid white;
      .link-style(@link-size - 8pt);
      background-color: rgba(0,0,0, 0.4);
      padding: 15px;
    }

    a:hover {
      background-color: rgba(0,0,0, 0.2);
    }

    button {
      border: 2px solid white;
      .link-style(@link-size - 8pt);
      background-color: rgba(0,0,0, 0.4);
      margin-top: 15px;
      padding: 5px;
      cursor: pointer;
    }

    button:hover {
      background-color: rgba(0,0,0, 0.2);
    }
  }

  .contact {
    text-align: left;
    .myinfo {
      margin: 0px;
      padding: 0px;
    }

    .forms {
      padding: 1%;
      margin: 0px;
    }
  }

  footer {
    background-color: @theme-color;
    color: white;
  }


// For laptops, Desktops and wide screens
@media screen and (min-width: 480px) {

  body, .container {
    text-align: left;
  }
  header {
    .header-properties(@header-image);

    h1,h3 {
      position: relative;
      margin: 0;
    }

    h1 {
      //background-color: rgba(0,0,0, 0.4);
      color: white;
      font-size: @heading-size;
      left: 2%;
    }

    h3 {
      //background-color: rgba(0,0,0, 0.4);
      color: white;
      font-size: @subheading-size;
      left: 1%;
    }

    .heading {
      border: 5px solid white;
      padding: 2%;
      width: 50%;
      position: relative;
      top: 14%;
      left: 23%;
      background-color: rgba(0,0,0, 0.4);
    }
  }

  h1,h2,h3 {
    text-align: left;
  }

  .page {
    width: 75%;
    margin-left: auto;
    margin-right: auto;

    h1 {
      margin-top: 0px;
      padding-top: 3%;
    }
  }

  main {

    .main-style;

    h1 {
      margin-left: 4%;
      .heading-style(@heading-size, @theme-color);
    }

    h2 {
      margin-left: 4%;
      .heading-style(@subheading-size, @theme-color);
    }
  }


  nav {
    display: grid;
    grid-template-columns: auto auto auto auto;


  }

  .nav_change
  {
    z-index: 9999;
    position: fixed;
    top: 0px;
    border-radius: 0 0 5px 5px;
    width: 100%;
    margin: 0;
  }

  .login {
    margin-top: 0px;
    position: fixed;
    top: 4%;
    right: 1%;
  }

  .home-page{
    margin: auto;
    width: 75%;
    display: grid;
    grid-template-areas: 'head head head'
                         'image paragraph paragraph';

    h1 {
      font-size: @heading-size;
      margin-left: 4%;
      grid-area: head;
    }

    img {
      box-sizing: border-box;
      border: 2px solid @theme-color;
      margin-left: 5%;
      grid-area: image;
    }

    p {
      font-size: @font-size;
      text-align: justify;
      margin: 0;
      padding-left: 5%;
      padding-right: 5%;
      padding-bottom: 5%;
      grid-area: paragraph;
    }
  }

  .contact {
    display: grid;
    grid-template-areas: 'head head'
                         'info contact';

    h1 {
      margin-left: 2%;
      color: @theme-color;
      grid-area: head;
    }

    h2 {
      color: @theme-color;
    }

    .myinfo {
      border: 2px solid @theme-color;
      margin-left: 10%;
      padding-left: 2%;
      grid-area: info;
      width: 60%;
      margin-bottom: 10%;
    }

    .forms {
      padding: 1%;
      margin-right: 10%;
      border: 2px solid @theme-color;
      grid-area: contact;
      margin-bottom: 10%;
    }
  }
}
