// Declaring the variables
@back-color : white;
@color1: #800080; // purple
@color2: #cc00cc; // light-purple
@color3: #ff33cc; // lighter-purple
@color4: #660066; // dark-purple
@color-hover: #ff99ff; // very light purple
@color5: #ff80df; // lighter pink
@back-bar: #009900; // dark-green
@dark-grad: #3a003a; // very dark-purple
@subItem-hover : red; // red color

body {
  margin: 0;
  background-color: @back-color;
}

.title {
  font-size: 2em;
  text-align: center;
  background-image: linear-gradient(90deg,@color1,@color2,@color5);
}

.top {
  .item {
    color: @back-color;
  }
}

#background(@color) {
  background-color: @color;
}

.top-background {
  #background(@color4);
}
.container {
  #background(@color1);
}
.flex-background {
  #background(@color3);
}

#bar-style-horizontal(@a) {
  #background(@subItem-hover);
  grid-column-start: 1;
  grid-column-end: @a;
}

.flex-style(@width : 18%, @color : black, @main-color : black) {
    h2 {
      width: 100%;
    }

    display: flex;
    flex-wrap: wrap;
    .flex-background();

    .mon {
      box-sizing: border-box;
      margin: 2px;
      width: @width;

      div:first-child {
        color: @color;
        font-weight: bold;
      }

      div {
        color: @main-color;
        padding-left: 4px;
      }
    }

  }


.grid-style {
  display: grid;
  padding-top: 2%;
  padding-right: 12%;
}

.mon {
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 15px;
}

#linear-grad(@deg) {
  background-image: linear-gradient(@deg,@dark-grad,@color4,@color1);
}

#font-weight {
  font-weight: bold;
}
// For Smaller displays
@media screen and (max-width: 814px) {

  // .container {
  //   display: flex;
  //   flex: 1;
  // }
  .top{
    .item:nth-child(odd) {
      #background(@color1);
    }

    .item:nth-child(even) {
      #background(@color2);
    }

    .item:hover {
      #background(@color-hover);
    }
  }

  .sidebar {
    display: none;
  }

  .flexbottom {
    .flex-background();
    .flex-style(100%,#0000ff,#33ccff);

    .mon {
      background-image: radial-gradient(@color1,@color4,@dark-grad);
    }
  }

  .bargraph {
    height: 30vh;
    .grid-style();
    grid-row-gap: 25px;
    padding-bottom: 2%;

    .bar1 {
      #bar-style-horizontal(8);
    }

    .bar2 {
      #bar-style-horizontal(6);
    }

    .bar3 {
      #bar-style-horizontal(10);
    }

    .bar4 {
      #bar-style-horizontal(4);
    }
  }

}

// For Wide Display
@media screen and (min-width: 814px) {

  // Exmple of nesting
  .top {
    .top-background();
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    width: 80%;
    box-sizing: border-box;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;

    .item {
      margin-left: 20px;
      margin-right: 20px;
    }

  // Example of pseudo classes
    .item:nth-child(3n+1) {
      background-color: @color1;
    }

    .item:nth-child(3n+2) {
      background-color: @color2;
    }

    .item:nth-child(3n+3) {
      background-color: @color3;
    }

    .item:hover {
      background-color: @color-hover;
    }
  }

  .container {
    height: 91.5vh;
    display: grid;
    grid-template-areas: 'side main main main main'
                         'side main main main main'
                         'none bottom bottom bottom bottom';
    background-color: @color1;
    border-radius: 25px 0 0 25px;
  }

  .bargraph {
    grid-area: main;
    .grid-style();
    padding-left: 12%;

  // use of mixins
    .bar1 {
      #bar-style(3);
    }

    .bar2 {
      #bar-style(4);
    }

    .bar3 {
      #bar-style(1);
    }

    .bar4 {
      #bar-style(7);
    }
  }

  // creating a mixin
  #bar-style(@a) {
    width: 50px;
    #background(@back-bar);
    grid-row-start: @a;
    grid-row-end: 10;
  }

  .flexbottom {
    .flex-style();
    .mon:nth-child(odd) {
      #linear-grad(90deg);
    }

    .mon:nth-child(even) {
      #linear-grad(-90deg);
    }
    grid-area: bottom;
  }



  .sidebar {
    grid-area: side;
    grid-row: 1 / span 2;
    padding: 30px;
    .item {
      width: 50%;
      .subItem {
        display: none;
      }
    }

    .item:hover {
      #font-weight();

      .subItem {
        margin-left: 20px;
        display: block;
        #font-weight();
      }

      .subItem:hover {
        color: @subItem-hover;
      }
    }
  }
}
